<!-- Header Include !-->

<header class="bk-header">
	<div class="container contact">
		{{widget('socialicons', 'header-social', {'googleplus': 'https://plus.google.com/101946323226233111530', 'linkedin':'http://www.linkedin.com/company/basekit', 'facebook': 'https://www.facebook.com/TeamBaseKit', 'twitter': 'https://twitter.com/basekit', 'youtube': 'https://www.youtube.com/user/TeamBaseKit', 'rss': 'http://blogdiseno.basekit.es/feed/'})|raw}}
		{{widget('profile', 'header-phone', { 'profileType':'phone', 'phone':'profile'})|raw}} 
	</div>
	<nav class="bk-nav">
		<div class="container">
			<div class="brand">
				{{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png'),"showTplWidget":"1"})|raw}}
				{{widget('companyname', 'companyname', {"business": "profile"})|raw}}
			</div><!--end brand-->
			{{widget('extendednavigation', 'header-navigation', {"align":"right"})|raw}}
		</div>
	</nav>
</header>